In [12]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sm

In [18]:
nn_out = pd.read_csv('../spacy_lstm_train_weights.csv')

In [19]:
nn_out.columns = ['nn_out', 'id']
nn_out.head()

     nn_out  id
0  0.165610   0
1  0.134254   1
2  0.189391   2
3  0.109708   3
4  0.049458   4

In [21]:
train = pd.read_csv('../data/train_with_sim_and_ents_long.csv')
train.head()

,Unnamed: 0,id,question1,question2,is_duplicate,entities1,entities2,similarity_score,CARDINAL_1,DATE_1,...,MONEY_2,NORP_2,ORDINAL_2,ORG_2,PERCENT_2,PERSON_2,PRODUCT_2,QUANTITY_2,TIME_2,WORK_OF_ART_2
0,0,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,{u'GPE': 1},NaN,0.986684,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,{u'PERSON': 3},"{u'PERSON': 2, u'NORP': 1}",0.925000,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2,2,2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,{u'FAC': 1},{u'ORG': 1},0.929068,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,NaN,{u'CARDINAL': 1},0.730742,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,{u'CARDINAL': 1},NaN,0.846616,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
merged = train.merge(nn_out)

In [23]:
merged['last_char'] = np.where(merged.question1.str[-1:] == merged.question2.str[-1:], 1, 0)
merged.head()

,Unnamed: 0,id,question1,question2,is_duplicate,entities1,entities2,similarity_score,CARDINAL_1,DATE_1,...,ORDINAL_2,ORG_2,PERCENT_2,PERSON_2,PRODUCT_2,QUANTITY_2,TIME_2,WORK_OF_ART_2,nn_out,last_char
0,0,0,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,{u'GPE': 1},NaN,0.986684,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.165610,1
1,1,1,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,{u'PERSON': 3},"{u'PERSON': 2, u'NORP': 1}",0.925000,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.134254,1
2,2,2,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,{u'FAC': 1},{u'ORG': 1},0.929068,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.189391,1
3,3,3,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,NaN,{u'CARDINAL': 1},0.730742,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.109708,1
4,4,4,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,{u'CARDINAL': 1},NaN,0.846616,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.049458,1

In [32]:
y = merged['is_duplicate']
x = merged[['similarity_score', 'nn_out', 'last_char']]
x.head(20)

    similarity_score    nn_out  last_char
0           0.986684  0.165610          1
1           0.925000  0.134254          1
2           0.929068  0.189391          1
3           0.730742  0.109708          1
4           0.846616  0.049458          1
5           0.949986  0.028945          1
6           0.640389  0.194030          1
7           0.980783  0.540197          1
8           0.281145  0.099729          0
9           0.855953  0.235629          1
10          0.738679  0.131215          1
11          0.980449  0.591669          1
12          0.995876  0.585914          1
13          0.993129  0.751181          1
14          0.996409  0.048871          1
15          0.977867  0.349347          1
16          0.946656  0.220318          1
17          0.948582  0.925436          1
18          0.969762  0.251388          1
19          0.949207  0.852282          1

In [33]:
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

In [34]:
logit_model=sm.Logit(y,x)
result=logit_model.fit()
print(result.summary())

Optimization terminated successfully.
         Current function value: 0.519002
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:           is_duplicate   No. Observations:               322455
Model:                          Logit   Df Residuals:                   322452
Method:                           MLE   Df Model:                            2
Date:                Sun, 26 Nov 2017   Pseudo R-squ.:                  0.2117
Time:                        22:19:08   Log-Likelihood:            -1.6735e+05
converged:                       True   LL-Null:                   -2.1229e+05
                                        LLR p-value:                     0.000
====================================================================================
                       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------
similarity_score    -0.7170      0.028    -25.400      0.000      -0.772      -0.662
nn_out               4.7808      0.019    256.818      0.000       4.744       4.817
last_char           -1.5937      0.026    -62.272      0.000      -1.644      -1.544
====================================================================================

In [41]:
nn_out_test = pd.read_csv('../spacy_LSTM_5epochs.csv')
nn_out_test.columns = ['nn_out','test_id']
nn_out_test.head()

     nn_out  test_id
0  0.637074       15
1  0.409360       20
2  0.270640       21
3  0.026274       23
4  0.266024       34

In [42]:
test = pd.read_csv('../data/test_with_sim_and_ents_long.csv')
test_merged = test.merge(nn_out_test)
test_merged['last_char'] = np.where(test_merged.question1.str[-1:] == test_merged.question2.str[-1:], 1, 0)
test_merged.head()

,Unnamed: 0,test_id,question1,question2,entities1,entities2,similarity_score,CARDINAL_1,DATE_1,EVENT_1,...,ORDINAL_2,ORG_2,PERCENT_2,PERSON_2,PRODUCT_2,QUANTITY_2,TIME_2,WORK_OF_ART_2,nn_out,last_char
0,0,15,invalid,How will a Trump presidency affect the student...,NaN,"{u'ORG': 1, u'GPE': 2}",0.235347,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.637074,0
1,1,20,Why do rockets look white?,Why are rockets and boosters painted white?,NaN,NaN,0.892270,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.409360,1
2,2,21,What's causing someone to be jealous?,What can I do to avoid being jealous of someone?,NaN,NaN,0.956441,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.270640,1
3,3,23,How much is 30 kV in HP?,Where can I find a conversion chart for CC to ...,"{u'PRODUCT': 1, u'QUANTITY': 1}",{u'ORG': 1},0.835993,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.026274,1
4,4,34,What is the best travel website in spain?,What is the best travel website?,{u'GPE': 1},NaN,0.968766,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.266024,1

In [43]:
x_test = test_merged[['similarity_score', 'nn_out', 'last_char']]

In [44]:
logreg = LogisticRegression()
logreg.fit(x, y)
y_pred = logreg.predict(x_test)

In [45]:
len(y_pred)

81126

In [48]:
predict = pd.DataFrame({"test_id":test_merged['test_id'], "is_duplicate":y_pred})
predict.to_csv("logregattempt2.csv", index=False)

In [49]:
predict.head()

   is_duplicate  test_id
0             0       15
1             0       20
2             0       21
3             0       23
4             0       34